@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mulish:wght@200;500&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    max-width: 375px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Mulish', sans-serif;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

p {
    font-family: 'Mulish', sans-serif;
}

.grey {
    color: #9C9C9C;
}

.movieInfo__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.castHeader__container,
.movieHeader__container,
.movieTitleStart {
    display: flex;
    justify-content: space-between;

}

/* cast section */
.cast__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.castHeader__container {
    padding-top: 40px;
}