.wrapper {
    width: 375px;

}

/* Denna css ska filmerna under rubriken "Now Showing" ha */
.pouplarmovies__container {
    display: flex;
    gap: 5%
}

.pouplarmovies__container img {
    border-radius: 2%;
}