* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    max-width: 375px;
    margin: 0 auto;
}

/* MyMovies */

.moviesHeader {
    display: flex;
    justify-content: space-between;
}

.overHead {
    display: flex;
    justify-content: space-between;
}



.myMovies {
    display: flex;
    gap: 2%;
    overflow-x: auto;
}

.myMovies img {
    border-radius: 7%;
    width: 143px;
}

/* pouplar */
.popular-seeMore {
    display: flex;
    justify-content: space-between;
}

/* .pouplarmovies__container {
    height: ;
} */

.movie-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5%;
    /* gap: 3%; */

}

.movie-article img {
    width: 85px;
}

.movie-title {
    color: #9C9C9C;
}

.fa-star {
    color: #FFC319;
}

.genres {
    color: #88A4E8;
    background-color: #DBE3FF;
    border-radius: 3%;



}

.footer-icon {
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}

/* DARKMODE */